.social.wrap
    a.social__link.social__link--inst(href="https://www.instagram.com/procul_negotiis/" title="Ссылка на Инстаграм") Инстаграм
        svg.social__icon(width="25" height="25")
            use(xlink:href="image/symbols.svg#icon-inst")
    a.social__link.social__link--vk(href="https://vk.com/procul" title="Ссылка на личную страницу в контакте") Вконтакте
        svg.social__icon(width="25" height="25")
            use(xlink:href="image/symbols.svg#icon-vk")