section.slider.wrap
    .slider__wrapper        
        -var slideLength = 10;
        -for(var i = 1; i<slideLength; i++)
            img.slider__picture(src='image/slider/slide-' + i + '.jpg' width='1200' height='800')        