section.gallery
    .gallery__text
        .inTurnBlurringTextG-wrap
            .inTurnBlurringTextG.inTurnBlurringTextG_1 з
            .inTurnBlurringTextG.inTurnBlurringTextG_2 а
            .inTurnBlurringTextG.inTurnBlurringTextG_3 г
            .inTurnBlurringTextG.inTurnBlurringTextG_4 р
            .inTurnBlurringTextG.inTurnBlurringTextG_5 у
            .inTurnBlurringTextG.inTurnBlurringTextG_6 з
            .inTurnBlurringTextG.inTurnBlurringTextG_7 к
            .inTurnBlurringTextG.inTurnBlurringTextG_8 а
            .inTurnBlurringTextG.inTurnBlurringTextG_9 .
            .inTurnBlurringTextG.inTurnBlurringTextG_10 .
    .gallery__wrapper.wrap#gallery
        .gallery__sizer
        .gallery__gutter        