title Анна Охапкина || Свадебный фотограф
meta(name="yandex-verification" content="c90982d3eb026c7c")
meta(charset="UTF-8")
meta(name='viewport' content="width=device-width, initial-scale=1")
meta(name="keywords" content="портфолио фотографа,портфолио свадебного фотографа,портфолио фотографа екатеринбург,портфолио свадебного фотографа екатеринбург, сайт фотографа, сайт фотографа екатеринбург, Анна Охапкина, Anna Ohapkina, сайт свадебного фотографа, сайт свадебного фотографа екатеринбург, индивидуальная съемка, съемка в студии, индивидуальная фотосъемка, фотосъемка в студии")
meta(name="description" content="Сайт портфолио свадебного фотографа")
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="image/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="image/favicon-16x16.png")
link(rel="manifest", href="manifest.json")
meta(name="theme-color", content="#ffffff")
link(href="css/style.min.css" rel="stylesheet")