section.portfolio#portfolio
    .wrap
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-15" data-number="18")
                .portfolio__img
                    img(src="image/gallery/album-15/image-1.jpg" width="853" height="1280")
                h2.portfolio__title Аромат лета      
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-12" data-number="15")
                .portfolio__img
                    img(src="image/gallery/album-12/image-3.jpg" width="853" height="1280")
                h2.portfolio__title Руслан  
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-1" data-number="26")
                .portfolio__img
                    img(src="image/gallery/album-1/image-24.jpg" width="853" height="1280")
                h2.portfolio__title Алексей и Ольга
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-2" data-number="16")
                .portfolio__img
                    img(src="image/gallery/album-2/image-1.jpg" width="853" height="1280")
                h2.portfolio__title Алиса
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-3" data-number="29")
                .portfolio__img
                    img(src="image/gallery/album-3/image-14.jpg" width="853" height="1280")
                h2.portfolio__title Андрей и Алёна        
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-5" data-number="19")
                .portfolio__img
                    img(src="image/gallery/album-5/image-12.jpg" width="853" height="1280")
                h2.portfolio__title Дыхание весны
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-6" data-number="16")
                .portfolio__img
                    img(src="image/gallery/album-6/image-10.jpg" width="853" height="1280")
                h2.portfolio__title Екатерина, Богдан и Милана
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-7" data-number="25")
                .portfolio__img
                    img(src="image/gallery/album-7/image-16.jpg" width="853" height="1280")
                h2.portfolio__title Зимняя сказка
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-4" data-number="28")
                .portfolio__img
                    img(src="image/gallery/album-4/image-27.jpg" width="853" height="1280")
                h2.portfolio__title Глеб и Екатерина
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-8" data-number="17")
                .portfolio__img
                    img(src="image/gallery/album-8/image-14.jpg" width="853" height="1280")
                h2.portfolio__title Леонид и Ирина
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-14" data-number="23")
                .portfolio__img
                    img(src="image/gallery/album-14/image-2.jpg" width="853" height="1280")
                h2.portfolio__title Танец - это глоток чего-то нового
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-9" data-number="24")
                .portfolio__img
                    img(src="image/gallery/album-9/image-22.jpg" width="853" height="1280")
                h2.portfolio__title Максим и Светлана
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-10" data-number="18")
                .portfolio__img
                    img(src="image/gallery/album-10/image-4.jpg" width="853" height="1280")
                h2.portfolio__title Наталья
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-11" data-number="15")
                .portfolio__img
                    img(src="image/gallery/album-11/image-2.jpg" width="853" height="1280")
                h2.portfolio__title Полина и Сергей в ожидании Тимоши  
        article.portfolio__item.col-s-10.col-md-6.col-lg-3
            a.portfolio__link(href="gallery.html" title="Галлерея фото" data-storage="album-13" data-number="17")
                .portfolio__img
                    img(src="image/gallery/album-13/image-3.jpg" width="853" height="1280")
                h2.portfolio__title Сергей и Ольга
        
        