section.service
    .wrap
        .service__wedding.flex-wrap
            h2.service__title Свадьба
            .service__item.col-lg-4.col-md-4.col-xs-12
                .service__picture
                    img(src="image/service/wedding-1.jpg" width='1280' height="853" alt="Свадебное фото")
                h3.service__title.service__title--inner Средний
                ul.service__list
                    li.service__list-item личная встреча/консультация. 
                    li.service__list-item Съемка свадебного дня до 6 часов. 
                    li.service__list-item Обработка всех фотографий, цветокоррекция, ретушь. (от 300 до 400 фотографий). 
                    li.service__list-item Флеш карта с вашими фотографиями.
                    li.service__list-item Срок готовности 1-1,5 месяца.                 
                span.service__price 10000 руб.
            .service__item.col-lg-4.col-md-4.col-xs-12
                .service__picture
                    img(src="image/service/wedding-2.jpg" width='1280' height="853" alt="Свадебное фото")
                h3.service__title.service__title--inner Стандарт
                ul.service__list
                    li.service__list-item личная встреча/консультация. 
                    li.service__list-item Съемка свадебного дня до 9 часов. 
                    li.service__list-item Обработка всех фотографий, цветокоррекция, ретушь. (от 400 до 500 фотографий). 
                    li.service__list-item Флеш карта с вашими фотографиями.
                    li.service__list-item Срок готовности 1-1,5 месяца.                 
                span.service__price 15000 руб.
            .service__item.col-lg-4.col-md-4.col-xs-12
                .service__picture
                    img(src="image/service/wedding-3.jpg" width='1280' height="853" alt="Свадебное фото")
                h3.service__title.service__title--inner Максимальный
                ul.service__list
                    li.service__list-item личная встреча/консультация. 
                    li.service__list-item Съемка свадебного дня до 12 часов. 
                    li.service__list-item Обработка всех фотографий, цветокоррекция, ретушь. (от 500 до 600 фотографий). 
                    li.service__list-item Флеш карта с вашими фотографиями.
                    li.service__list-item Срок готовности 1-1,5 месяца.                 
                span.service__price 20000 руб.
            .service__item.service__item--full-width
                h3.service__title.service__title--inner Минимальный
                ul.service__list
                    li.service__list-item Подходит вариант для тех, кто хочет только прогулку 
                    li.service__list-item Помощь в выборе места/консультация по телефону или в соц.сетях.
                    li.service__list-item Фотосъемка минимум от 2-х часов, максимум до 4-х. 
                    li.service__list-item Все фотографии (от 40 до 70ти штук за 1 час) проходят цветокоррекцию, а так же ретушь и отдаются в электронном виде ссылкой на Яндекс диск. 
                    li.service__list-item Дополнительные изменения в фотографиях, прошедших обработку – оплачиваются отдельно. 
                    li.service__list-item Срок изготовления от 3-х до 4-х недель. 
                p.service__descr ФОТОСТУДИЯ И ПРОЧИЕ МЕСТА (где потребуется арендная плата) ОПЛАЧИВАЮТСЯ ДОПОЛНИТЕЛЬНО МОЛОДОЖЕНАМИ!
                span.service__price.service__price--another-width 2000 руб/час
        .service__personal.flex-wrap
            .service__item.col-lg-4.col-md-4.col-xs-12
                h3.service__title.service__title--inner Лавстори
                .service__picture
                    img(src="image/service/service-img-1.jpg" width='1280' height="853" alt="Свадебное фото")
                ul.service__list
                    li.service__list-item Фотосъёмка в студии/на прогулке в течение 1 часа* (помощь в выборе места, вариант прогулки)
                    li.service__list-item От 40 до 70 фото/час
                    li.service__list-item Все фотографии проходят цветокоррекцию, легкую ретушь и отдаются в электронном виде (яндекс диск)
                    li.service__list-item Сроки изготовления - от 2-х до 3 -х недель 
                p.service__descr *Аренда студии в стоимость фотосессии не входит (отдельная стоимость аренды фотостудии от 600 до 1500руб. за 1 час, зависит от варианта фотостудии)                
                span.service__price 2000 руб/час.
            .service__item.col-lg-4.col-md-4.col-xs-12
                h3.service__title.service__title--inner Семейная
                .service__picture
                    img(src="image/service/service-img-2.jpg" width='1280' height="853" alt="Свадебное фото")
                ul.service__list
                    li.service__list-item Фотосъёмка в студии/на прогулке в течение 1 часа* (помощь в выборе места, вариант прогулки)
                    li.service__list-item От 40 до 70 фото/час
                    li.service__list-item Все фотографии проходят цветокоррекцию, легкую ретушь и отдаются в электронном виде (яндекс диск)
                    li.service__list-item Сроки изготовления - от 2-х до 3 -х недель 
                p.service__descr *Аренда студии в стоимость фотосессии не входит (отдельная стоимость аренды фотостудии от 600 до 1500руб. за 1 час, зависит от варианта фотостудии)              
                span.service__price 2000 руб/час.
            .service__item.col-lg-4.col-md-4.col-xs-12
                h3.service__title.service__title--inner Индивидуальная
                .service__picture
                    img(src="image/service/service-img-3.jpg" width='1280' height="853" alt="Свадебное фото")
                ul.service__list
                    li.service__list-item Фотосъёмка в студии/на прогулке в течение 1 часа* (помощь в выборе места, вариант прогулки)
                    li.service__list-item От 40 до 70 фото/час
                    li.service__list-item Все фотографии проходят цветокоррекцию, легкую ретушь и отдаются в электронном виде (яндекс диск)
                    li.service__list-item Сроки изготовления - от 2-х до 3 -х недель 
                p.service__descr *Аренда студии в стоимость фотосессии не входит (отдельная стоимость аренды фотостудии от 600 до 1500руб. за 1 час, зависит от варианта фотостудии)               
                span.service__price 2000 руб/час.           