doctype HTML
html(lang="ru")
    head    
        title Anna Ohapkina
        include _include/page-top/page-top
    body#gallery-body
        include blocks/page-header/page-header
        include blocks/page-main-gallery/page-main-gallery
        include blocks/page-footer/page-footer
        include _include/page-bottom/page-bottom