doctype HTML
html(lang="ru")
    head    
        title Anna Ohapkina
        include _include/page-top/page-top
    body
        include blocks/page-header/page-header
        include blocks/page-main-portfolio/page-main-portfolio
        include blocks/page-footer/page-footer
        include _include/page-bottom/page-bottom