doctype HTML
html(lang="ru")
    head       
        include _include/page-top/page-top
    body.page-service
        include blocks/page-header/page-header
        include blocks/page-main-service/page-main-service
        include blocks/page-footer/page-footer
        include _include/page-bottom/page-bottom

    